.align-right {
    text-align: right;
}

body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    background: #f8f8f8;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

.navbar {
    background-color: #ffffff;
    color: #000000;
}

.bajo-banner {
    text-align: center;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  