.align-right {
    text-align: right;
}



body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    background: #f8f8f8;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

.navbar {
    background-color: #ffffff;
    color: #000000;
}

.bajo-banner {
    text-align: center;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  

  .productos-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

.card {
    width: calc(25% - 20px); 
    margin: 10px; 
}

.card img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
}


#notificacion-compra {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 1000;
  }
  
  .notificacion {
    background-color: #28a745;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    animation: fadeOut 3s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

